* {
  font-size: 16px;
}

.container {
  max-width: 300px;
  margin: 20px 0;
}

.time {
  color: blue;
}

.type {
  font-size: 14px;
}
.lecture {
  color: blue;
}
.practice {
  color: orange;
}

.lecture.inner {
  border-left: 4px solid blue;
  color: black;
}
.practice.inner {
  border-left: 4px solid orange;
  color: black;
}

.inner {
  padding: 15px;
  background-color: rgb(255, 255, 255);

  border-left: 4px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  gap: 10px;
  min-height: 20px;
  display: flex;
  justify-content: end;
}

button.delete_btn {
  background-color: red;
}
