html {
  scrollbar-gutter: stable both-side;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.App {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.make_schedule {
  margin: auto;
  padding: 20px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slots_grid {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 20px;
}

hr {
  margin: 20px 0;
  border: 1px solid rgb(238, 238, 238);
}

.page_title {
  font-size: 24px;
  text-align: left;
  margin: 20px 0;
}

.view_mode {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.toolbar {
  display: flex;
  gap: 20px;
}

.schedule_not_found {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}
.schedule_not_found h2 {
  font-size: 24px;
}
