* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.App {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.make_schedule {
  margin: auto;
  padding: 20px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slots_grid {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 20px;
}

.week {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal_container__btns {
  justify-content: end;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: rgb(142, 223, 255);
  border: 2px solid rgb(142, 223, 255);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}
