.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
}

:is(.form) select {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.buttons {
  justify-content: end;
  display: flex;
  gap: 10px;
}
