.navbar {
  display: flex;
  height: 60px;
  margin-bottom: 40px;
  background-color: gray;
}

.navbar_content {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
