.add {
  border-radius: 5px;
  border: 2px solid rgb(142, 223, 255);
  padding: 10px 20px;
  background-color: white;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  margin: 10px 0;
}

.add:hover {
  background-color: rgb(142, 223, 255);
  color: white;
}
