.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
}

:is(.form) select {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
